#header{
    padding: 52px 0 34px 0;
    .container{
        width: 1000px;
        a{

        }
        h2{
            display:inline-block;
            font-size:18px;
            margin-left:50px;
            color:#666;
        }
        .headertext{
            float:right;
            width: 510px;
            height: 40px;
            line-height: 20px;
            padding: 5px 10px;
            background-color: #fdf7e9;
            border: 1px solid #edae1b;
            color: #666;
            font-size:12px;
        }
    }
}
#main{
    .container{
        width: 1000px;
        height: 480px;
        background: url(../img/login_ffffff.jpg) no-repeat;
        .login{
            width: 340px;
            padding-top:100px;
            float:right;
            .login_title{
                width: 100%;
                height: 24px;
                padding: 18px 0 18px 0;
                font-size: 20px;
                color: #666;
                text-align: center;
                border-bottom: 1px solid #e6e6e6;
                div{
                    display:inline-block;
                    margin: 0 40px;
                    color: #666;
                    cursor: pointer;
                    font-size: 20px;
                }
                .zh{
                    color:#89b929;
                }
            }
            .zhanghao{
                form{
                    width:280px;
                    margin:0 auto;
                    .r_username{
                        padding-top:35px;
                        p{
                            position: relative;
                            span{
                                position: absolute;
                                display: inline-block;
                                width: 40px;
                                height: 36px;
                                background: url(../img/allbgs.png) no-repeat -62px 4px;
                                top: 0;
                                left: 0;
                            }
                            input{
                                width: 230px;
                                padding-left: 48px;
                                height: 36px;
                                line-height: 36px;
                                border: 1px solid #bdbdbd;
                                color: #666;
                                font-size: 14px;
                            }
                        }
                    }
                    .r_password{
                        padding-top:10px;
                        p{
                            position: relative;
                            span{
                                position: absolute;
                                display: inline-block;
                                width: 40px;
                                height: 36px;
                                background: url(../img/allbgs.png) no-repeat -62px -31px;
                                top: 0;
                                left: 0;
                            }
                            input{
                                width: 230px;
                                padding-left: 48px;
                                height: 36px;
                                line-height: 36px;
                                border: 1px solid #bdbdbd;
                                color: #666;
                                font-size: 14px;
                            }
                            i{
                                position: absolute;
                                width: 25px;
                                height: 20px;
                                top: 11px;
                                right: 8px;
                                display: inline-block;
                                background: url(../img/allbgs.png) no-repeat -78px -341px;
                                cursor: pointer;
                            }
                        }
                    }
                    .r_remeber{
                        font-size:12px;
                        line-height:24px;
                        a{
                            float:right;
                            color:#f60;
                        }
                    }
                    .r_submit{
                        margin-top:16px;
                        button{
                            cursor: pointer;
                            background: #f60;
                            width: 280px;
                            height: 40px;
                            letter-spacing: 35px;
                            padding-left: 35px;
                            font-size: 16px;
                            color: #fff;
                            border-radius: 3px;
                        }
                    }
                }
            }
            .cont_button{
                height: 60px;
                margin-top: 20px;
                padding: 0 20px;
                background: #ebebf1;
                a{
                    width: 32px;
                    height: 32px;
                    display: block;
                    float:left;
                    margin: 14px 8px 0 0;
                    cursor: pointer;
                    border-radius: 18px;
                    background: url(../img/allbgs.png) no-repeat;
                }
                a:hover{
                    opacity:0.6;
                }
                .weixin{
                    background-position: -120px -74px;
                }
                .qq{
                    background-position: 0 -74px;
                }
                .sina{
                    background-position: -40px -74px;
                }
                .zhifubao{
                    background-position: -80px -74px;
                }
                .toRegister{
                    float:right;
                    color: #f60;
                    cursor: pointer;
                    font-size: 14px;
                    line-height:60px;
                    i{
                        float:right;
                        width: 16px;
                        height: 16px;
                        margin: 22px 0 0 5px;
                        display: block;
                        background: url(../img/tubiao.png) no-repeat -412px -940px;
                    }
                }
            }
        }
    }
}