#header .container {
  width: 1000px;
  padding-top: 20px;
  position: relative;
}

#header .container .cart_content_top h2 {
  display: inline-block;
  font-size: 18px;
  margin-left: 50px;
  color: #666;
}

#header .container .cart_content_top .progress_bg_1 {
  width: 490px;
  height: 28px;
  position: absolute;
  right: 0px;
  top: 39px;
  overflow: hidden;
  background: url(../img/progress_bar.png) no-repeat;
}

#header .container .cart_content_top div {
  position: absolute;
  top: 65px;
  color: #666;
  font-size: 12px;
}

#header .container .cart_content_top .progress_1 {
  right: 380px;
}

#header .container .cart_content_top .progress_2 {
  right: 210px;
}

#header .container .cart_content_top .progress_3 {
  right: 45px;
}

#header .container .cart_tHead {
  margin-top: 50px;
  border: 1px solid #ccc;
  background: #f9f9f9;
  text-align: center;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}

#header .container .cart_tHead span {
  width: 108px;
  display: inline-block;
}

#header .container .cart_tHead .e_product {
  width: 440px;
}

#header .container .cart_tHead .e_quantity {
  width: 100px;
}

#header .container .cart_tHead .e_price, #header .container .cart_tHead .e_subtotal {
  width: 110px;
}

#header .container .cart_content {
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
  border: 1px solid #ccc;
}

#header .container .cart_content i {
  width: 43px;
  height: 38px;
  background: url(../img/tubiao.png) -337px -357px;
  float: left;
  margin-right: 20px;
}

#header .container .cart_content .cart_null_text {
  width: 400px;
  margin: 60px 0 0 295px;
}

#header .container .cart_content a {
  color: #690;
}

#header .container .cart_content ul li {
  height: 60px;
  padding: 10px 0;
}

#header .container .cart_content ul li a {
  display: inline-block;
  width: 420px;
  margin-left: 20px;
  float: left;
}

#header .container .cart_content ul li a img {
  width: 58px;
  height: 58px;
  border: 1px solid #eee;
}

#header .container .cart_content ul li a span {
  margin-left: 10px;
}

#header .container .cart_content ul li span {
  display: inline-block;
}

#header .container .cart_content ul li .guang {
  width: 110px;
  height: 60px;
  float: left;
}

#header .container .cart_content ul li .jian, #header .container .cart_content ul li .jia {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  background: #eee;
  cursor: pointer;
  margin: 19px 0 0 6px;
  float: left;
}

#header .container .cart_content ul li .shu {
  width: 30px;
  text-align: center;
  float: left;
  border: 1px solid #ccc;
  margin: 19px 0 0 6px;
}

#header .container .cart_content ul li .danjia {
  width: 140px;
  text-align: center;
  line-height: 60px;
}

#header .container .cart_content ul li .xiaoji {
  width: 80px;
  text-align: center;
  line-height: 60px;
  color: #f60;
}

#header .container .cart_content ul li .caozuo {
  width: 80px;
  margin-left: 30px;
  text-align: center;
  line-height: 60px;
}

#header .container .cart_ticket {
  width: 494px;
  height: 40px;
  margin-top: 20px;
  position: relative;
  line-height: 40px;
  color: #333;
  font-size: 14px;
  border: 1px solid #ccc;
}

#header .container .cart_ticket i {
  background: url(../img/tubiao.png) no-repeat;
}

#header .container .cart_ticket .ticket_i {
  cursor: pointer;
  width: 15px;
  height: 15px;
  background-position: -89px -911px;
  float: left;
  margin: 13px 10px 0 20px;
}

#header .container .cart_ticket .ticket_select {
  width: 240px;
  height: 22px;
  float: left;
  margin: 8px 15px 0 15px;
  border: 1px solid #ccc;
}

#header .container .cart_ticket .ticket_select .ticket_select_i {
  width: 22px;
  height: 22px;
  float: right;
  background-position: -124px -911px;
  cursor: pointer;
}

#header .container .cart_ticket .ticket_select .ticket_select_input {
  width: 217px;
  height: 22px;
  float: left;
  text-align: center;
  border-width: 0;
  margin-left: 1px;
}

#header .container .cart_ticket .ticket_btn {
  float: left;
  width: 70px;
  height: 24px;
  margin: 8px 0 0 0;
  border-radius: 3px;
  font-size: 14px;
  background: #f60;
  color: #fff;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}

#header .container .cart_aggregate {
  color: #666;
  margin-top: 40px;
  text-align: right;
  font-size: 14px;
  line-height: 24px;
}

#header .container .cart_aggregate div {
  float: right;
}

#header .container .cart_aggregate span {
  color: #f60;
}

#header .container .cart_aggregate .clear {
  clear: both;
}

#header .container .cart_aggregate .jg {
  width: 120px;
}

#header .container .cart_aggregate .jg_name {
  width: 90px;
}

#header .container .cart_aggregate .aggregate {
  width: 990px;
  border-top: 1px solid #ccc;
  padding: 15px 0 8px 0;
  margin-top: 15px;
  line-height: 40px;
}

#header .container .cart_aggregate .aggregate .aggregate_btn {
  width: 190px;
  height: 34px;
  line-height: 34px;
  background: #f60;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-size: 16px;
}

#header .container .cart_aggregate .aggregate #settlementRealTotalMoney {
  font-size: 24px;
  margin-right: 30px;
}

#header .container .recommend {
  height: 290px;
  margin: 30px 0 50px 0;
  position: relative;
  font-size: 12px;
}

#header .container .recommend .recommend_title li {
  width: 98px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border: 1px solid #ccc;
  float: left;
  cursor: pointer;
}

#header .container .recommend .recommend_promotion {
  height: 290px;
  border: 1px solid #ccc;
  line-height: 20px;
  text-align: center;
}
